<.flash_group flash={@flash} />
<div>
  <div class="text-xl">Intro</div><br>
  <div class="text-x">Welcome to the home page!</div>
  <p>
  This is a simple chat application that demonstrates how to use Phoenix LiveView to create a real-time chat application.
  </p>
</div>